<nav class="navbar navbar-expand-lg justify-content-between navbar-dark bg-primary mb-3">
  <a class="navbar-brand ml-3">GDS</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" (click)="direcionarHome()">Home</a>
    <a class="nav-item nav-link" (click)="direcionarPerfil()">Perfil</a>
    <a class="nav-item nav-link" (click)="logOut()">Logout</a>
    <img class="mr-3 rounded-circle" src={{usuarioLogado.icone}} alt="Generic placeholder image"
                    style="width: 35px; height: 35px;">
  </div>
</nav>