<div class="d-flex flex-row justify-content-between justify-content-center">
    <h3 class="label-container align-self-center d-flex">Meus projetos:</h3>
    <!-- Botão Modal Cadastrar Projeto -->
    <button type="button" class="btn btn-outline-light align-self-center d-flex" data-bs-toggle="modal"
        data-bs-target="#adicionarProjetoModal" style="height: 30px; align-items: center;">+</button>
</div>


<div class="accordion" id="accordionProjeto">
    <div *ngFor="let projeto of listaProjetos" class="accordion-item">
        <h2 class="accordion-header d-flex align-items-center">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProjeto"
                aria-expanded="false" aria-controls="collapseProjeto" (click)="collapse(projeto.id.toString())" style="font-size: large; text-decoration: solid; font-weight: 300;">
                {{projeto.nome}}
            </button>
        </h2>
        <div id="collapseProjeto{{projeto.id}}" class="accordion-collapse collapse show"
            data-bs-parent="#accordionProjeto">
            <div class="accordion-body">
                <app-projeto [projeto]="projeto"></app-projeto>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cadastrar Projeto -->
<div class="modal fade" id="adicionarProjetoModal" tabindex="-1" aria-labelledby="adicionarProjetoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="adicionarProjetoModalLabel">Adicionar Participante</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-cadastro-projeto></app-cadastro-projeto>
            </div>
        </div>
    </div>
</div>