<app-relatorio [projeto]="projeto" [relatorioMensal]="getRelatorioMensalAtual(dataDesignada)" [listaParticipantes]="listaParticipantes"></app-relatorio>

<div class="d-inline-flex flex-row-reverse">
    <div class="container d-flex flex-column" style="min-width: 900px; max-width: 900px;">
        <h4 class="mt-2">Outros Relátorios:</h4>
        <ul class="list-group mt-2">
            <li *ngFor="let relatorioMensal of projeto.relatorioMensalList" class="list-group-item bg-secondary border border-dark" (click)="alterarDataRelatorio(relatorioMensal)">
                {{ getMesRelatorioString(relatorioMensal)}}</li>
        </ul>
    </div>
</div>



