<div class="card bg-dark text-white border-secondary" style="width: 18rem;">
    <img src={{projeto.icone}} class="card-img-top img-fluid" style="height: 200px;" alt="...">
    <div class="card-body bg-primary">
      <h5 class="card-title">{{projeto.nome}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body bg-primary">
      <a class="card-link" (click)="direcionarProjetoView()">Mais Detalhes</a>
      <a class="card-link" (click)="direcionarProjetoDaily()">Iniciar Daily</a>
    </div>
  </div>