$primary-color: #EDE7E3;
$azul: #489FB5;
$azul-secundario: #16697A;
$azul-claro: #82C0CC;

:host {
    display: block;
    left: 0;
}
.container{
    display:flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    min-width: 400px;
}

.titulo{
    display: flex;
    background-color: $azul-secundario;
    width: fit-content;
    align-self: center;
    color: $primary-color;
    padding: 5px;
    border-radius: 4px;
}