<div class="container" >
   <div class="titulo">
      Ordem de fala
   </div>
   <div *ngFor="let participante of listaParcipantes">
      <app-participante *ngIf="participante.reportFeito == false" class="participante" [usuario]="participante" ></app-participante>
   </div>
   <div class="titulo">
      Report Concluido
   </div>
   <div *ngFor="let participante of listaParcipantes">
      <app-participante *ngIf="participante.reportFeito == true" class="participante" [usuario]="participante" ></app-participante>
   </div>
</div>