<div class="container bg-primary" >
   <div class="titulo bg-primary">
      Ordem de fala
   </div>
   <div *ngFor="let participante of listaParcipantes">
      <app-participante *ngIf="!isParticipanteLocutor(participante)" class="participante" [usuario]="participante" ></app-participante>
   </div>
   <div class="titulo bg-primary">
      Report Concluido
   </div>
   <div *ngFor="let participante of listaReportConcluido">
      <app-participante class="participante" [usuario]="participante" ></app-participante>
   </div>
</div>