<!-- Modal Cadastar Impedimento -->
<div class="modal fade" id="cadastrarImpedimentoModal" tabindex="-1" aria-labelledby="cadastrarImpedimentoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cadastrarImpedimentoModalLabel">Registrar Impedimento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="impedimentoGroup" (ngSubmit)="submit()">
          <div class="form-group mb-3">
            <label for="titulo">Título do Impedimento</label>
            <input type="text" class="form-control" id="titulo" placeholder="Digite o assunto de seu impedimento."
              formControlName="titulo">
          </div>
          <div class="form-group">
            <label for="descricao">Descrição do Impedimento</label>
            <textarea class="form-control" id="descricao" rows="3" placeholder="Descreva os detalhes de seu impedimento." formControlName="descricao"></textarea>
          </div>
          <app-toast [idToast]="'toastAddImpedimento'"></app-toast>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>