<!-- Modal Editar Projeto -->
<div class="modal fade" id="dailyReviewModal" tabindex="-1" aria-labelledby="dailyReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dailyReviewModalLabel">Daily Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <app-registro-daily [projeto]="projeto" [dailyLog]="dailyLog" [isDailyReview]="true"></app-registro-daily>

                    <button class="btn btn-primary" (click)="fecharModal()">
                        Fechar
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>