<div *ngIf="isLocutor == false">
    <div type="button" class="container d-inline-block justify-content-center w-50 bg-dark border border-secondary">
        <div class="display-cronometro d-flex justify-content-center align-items-center bg-dark" [style.color]="istempoExtrapoladoDaily()" >
            <span class="digito">{{hoursDisplay}}</span>:<span class="digito">{{minutesDisplay}}</span>:<span class="digito">{{secondsDisplay}}</span>
        </div>
    </div>
</div>


<div *ngIf="isLocutor">
    <div class="container-cronometro-locutor bg-dark border border-secondary">
        <div class="display-cronometro d-flex justify-content-center align-items-center bg-dark" [style.color]="istempoExtrapoladoLocutor()" >
            <span class="digito">{{hoursDisplay}}</span>:<span class="digito">{{minutesDisplay}}</span>:<span class="digito">{{secondsDisplay}}</span>
        </div>
    </div>
</div>

