<div class="container d-inline-flex flex-column">

    <div>
        <div class="media mb-5">
            <img class="mr-3 rounded-circle" src={{projeto.icone}} alt="Generic placeholder image"
                style="width: 200px; height: 200px;">
            <div class="media-body">
                <h5 class="mt-0">{{projeto.nome}}</h5>
                {{projeto.descricao}}
            </div>
        </div>

    </div>

    <div class="card mb-5" style="width: 18rem;">
        <div class="card-header">
            Participantes do Projeto
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let participante of listaParticipantes">
                <img class="mr-3 rounded-circle" src={{participante.icone}} alt="Generic placeholder image"
                    style="width: 35px; height: 35px;">
                {{participante.nome}}
            </li>
        </ul>
    </div>

    <form [formGroup]="addParticipanteGroup" (ngSubmit)="submit()">
        <div class="form-group mt-4">
            <label for="email">Adicionar participante</label>
            <input type="text" class="form-control" id="tempoMedioDeDaily" placeholder="Digite o email do participante."
                formControlName="email">
            <small id="emailHelp" class="form-text text-muted">Digite o email do participante.</small>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

    <div class="container d-inline-flex flex-column">
        <h4>Impedimentos do Projeto</h4>
        <div *ngFor="let impedimento of projeto.impedimentos">
            <app-impedimento *ngIf="!impedimento.solucionado" [projeto]="projeto" [impedimento]="impedimento"></app-impedimento>
        </div>
        
        <h4>Impedimentos Solucionados do Projeto</h4>
        <div *ngFor="let impedimento of projeto.impedimentos">
            <app-impedimento *ngIf="impedimento.solucionado" [projeto]="projeto" [impedimento]="impedimento"></app-impedimento>
        </div>
    </div>

    <app-cadastrar-impedimento [projeto]="projeto"></app-cadastrar-impedimento>

    <button type="button" class="btn btn-danger mt-5" (click)="excluirProjeto()">Excluir projeto</button>

</div>