<nav class="navbar navbar-expand-lg d-flex justify-content-between navbar-dark bg-primary mb-3"
  style="align-content: center;">
  <img class="mr-3 d-flex" src="../../../assets/gds.png" alt="Logo GDS"
    style="width: 80px; height: 32px; margin-left: 1rem; margin-right: 1rem;">
  <div class="navbar-nav">
    <a *ngIf="isUsuarioLogado" class="nav-item nav-link" (click)="direcionarHome()" style="margin-left: 1rem;">Home</a>
    <a *ngIf="isUsuarioLogado" class="nav-item nav-link" (click)="direcionarPerfil()"
      style="margin-left: 1rem;">Perfil</a>
    <a *ngIf="isUsuarioLogado" class="nav-item nav-link" (click)="logOut()" style="margin-left: 1rem;">Logout</a>
    <img *ngIf="isUsuarioLogado" class="mr-3 rounded-circle" src={{usuarioLogado.icone}} alt="Icone usuario"
      style="width: 32px; height: 32px; margin-left: 1rem; margin-right: 1rem; object-fit:cover; align-self: center;">
  </div>
</nav>