<div class="card mb-5">
    <div class="card-header bg-primary" style="text-align: center; font-size: large;">
        Impedimentos do Projeto
    </div>
    <div class="card-body bg-secondary">
        <div *ngIf="temImpedimento()" class="accordion" id="accordionImpedimento">
            <div *ngFor="let impedimento of projeto.impedimentos; index as i " class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" style="font-size: large; text-decoration: solid;"
                        data-bs-target="#collapseImpedimento" aria-expanded="false" aria-controls="collapseImpedimento" (click)="collapse(i)">
                        {{impedimento.titulo}}
                        <span *ngIf="impedimento.solucionado" class="badge badge-pill bg-primary"
                            style="margin-left: 0.9rem;">SOLUCIONADO</span>
                    </button>
                </h2>
                <div id="collapseImpedimento{{i}}" class="accordion-collapse collapse show"
                    data-bs-parent="#accordionImpedimento">
                    <div class="accordion-body">
                        <app-impedimento [projeto]="projeto" [impedimento]="impedimento"></app-impedimento>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!temImpedimento()" class="alert alert-info" role="alert">
            O projeto não possui impedimentos!
        </div>
    </div>
    <!-- Botão Cadastrar Impedimento -->
    <button type="button" class="btn btn-primary mt-2" (click)="abrirModalCadastrarImpedimento()">
        Registrar Impedimento
    </button>
</div>


<!-- Modal Cadastar Impedimento -->
<app-cadastrar-impedimento [projeto]="projeto"></app-cadastrar-impedimento>