<div class="card">
    <div class="card-header bg-primary" style="text-align: center; font-size: large;">
        Impedimentos do Projeto
    </div>
    <div class="card-body bg-secondary">
        <div *ngIf="temImpedimento()" class="accordion" id="accordionImpedimento">
            <div *ngFor="let impedimento of projeto.impedimentos" class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        style="font-size: large; text-decoration: solid;" data-bs-target="#collapseImpedimento"
                        aria-expanded="false" aria-controls="collapseImpedimento" (click)="toggleColapse()">
                        {{impedimento.titulo}}
                        <span *ngIf="impedimento.solucionado" class="badge badge-pill bg-primary"
                            style="margin-left: 0.9rem;">SOLUCIONADO</span>
                    </button>
                </h2>
                <div id="collapseImpedimento" class="accordion-collapse collapse show" data-bs-parent="#accordionImpedimento">
                    <div class="accordion-body">
                        <app-impedimento [projeto]="projeto" [impedimento]="impedimento"></app-impedimento>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!temImpedimento()" class="alert alert-info" role="alert">
            O projeto não possui impedimentos!
        </div>
    </div>
</div>