
<div class="card">
    <div class="card-header">
        {{impedimento.nomeUsuario}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{impedimento.titulo}}</h5>
        <p class="card-text">{{impedimento.descricao}}</p>
        <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item">{{ 'Data Inicio: ' + getDataInicioImpedimento()}}</li>
            <div *ngIf="this.impedimento.solucionado">
                <li  class="list-group-item">{{'Data Fim: ' + getDataFimImpedimento()}}</li>
            </div>
        </ul>
        <a *ngIf="isImpedimentoSolucionavel()" class="btn btn-primary" (click)="declararSolucionado()">Declarar Solucionado</a>
    </div>
</div>