<div class="container bg-primary">
        <img clas="imagem" src={{usuario.icone}} alt="">
        <div class="nome bg-primary">{{usuario.nome}}</div>
        <app-cronometro [isLocutor]="true" [tempoExtrapoladoLocutor]="this.tempoExtrapoladoLocutor"></app-cronometro>

        <div class="container-impedimento bg-primary">
                
                <div class="titulo">
                        Impedimentos atuais
                </div>

                <ng-container *ngFor="let impedimento of impedimentoList">

                        <div class="impedimento bg-dark" *ngIf="isImpedimentoUsuarioLocutor(impedimento)">
                                <div>
                                        {{impedimento.titulo}}:
                                </div>

                                <div class="impedimento-descricao">
                                        - {{impedimento.descricao}}
                                </div>
                        </div>

                </ng-container>

                <div class="titulo">
                        Impedimentos superados
                </div>

                <ng-container *ngFor="let impedimento of impedimentoList">

                        <div class="impedimento bg-dark" *ngIf=" isImpedimentoUsuarioLocutorSolucionado(impedimento)">
                                <div>
                                        {{impedimento.titulo}}:
                                </div>

                                <div class="impedimento-descricao">
                                        - {{impedimento.descricao}}
                                </div>
                        </div>

                </ng-container>
        </div>
</div>