$primary-color: #EDE7E3;
$azul: #489FB5;
$azul-secundario: #16697A;
$azul-claro: #82C0CC;

.container{
    display: flex;
    flex-direction: column;
    width: 35vw;
    color: $primary-color;
    padding: 0;
}

.container img{
    width: auto;
    height: auto;
    max-width: 35vw;
    max-height: 25vw;
    object-fit:cover;
}

.nome{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    background-color: $azul;
    font-size: 30px;
}


.container-impedimento{
    background-color: $azul;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo{
    font-size: 20px;
    align-self: center;
    padding-bottom: 10px;
}

.impedimento{
    background-color: $azul-secundario;
    font-size: 18px;
    border-radius: 4px;
    padding: 5px;
}

.impedimento-descricao{
    font-size: 15px;
    margin-left: 20px;
}



