$primary-color: #EDE7E3;
$azul: #489FB5;
$azul-secundario: #16697A;
$azul-claro: #82C0CC;

.container{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 30%;
    color: $primary-color;
}

.container img{
    width: auto;
    height: auto;
    object-fit: contain;
}

.nome{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    background-color: $azul;
    font-size: 30px;
}

::ng-deep .cronometro-locutor{
    width: auto;
    height: auto;
    min-width: none;
    min-height: none;
    max-width: none;
    max-height: none;
    border-radius: 0%;
}
