<!-- Modal Adicionar Participante -->
<div class="modal fade" id="adicionarParticipanteModal" tabindex="-1" aria-labelledby="adicionarParticipanteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="adicionarParticipanteModalLabel">Adicionar Participante</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addParticipanteGroup"
                    (ngSubmit)="submitAdicionarParticipante()">
                    <div class="form-group mt-4">
                        <input type="text" class="form-control" id="tempoMedioDeDaily"
                            placeholder="E-mail do participante." formControlName="email">
                        <small id="emailHelp" class="form-text text-muted">Digite o e-mail do
                            participante.</small>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                    <app-toast [idToast]="'toastAddParticipante'"></app-toast>
                </form>   
            </div>
        </div>
    </div>
</div>