<!-- Modal Cadastrar Falta -->
<div class="modal fade" id="cadastrarFaltaModal" tabindex="-1" aria-labelledby="cadastrarFaltaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cadastrarFaltaModalLabel">Registrar Falta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="faltaGroup" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="justificativa">Justificativa para Falta:</label>
            <textarea class="form-control" id="justificativa" rows="3" formControlName="justificativa"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>