<div class="container">

    <div class="container-pariticipantes">
        <div>
            <app-participante-locutor [usuario]="this.listaParcipantes[0]">
                
            </app-participante-locutor>
        
            <button class="botao" (click)="prosseguirDaily()">
                {{isDailyIniciada() ? 'Finalizar report' : 'Iniciar daily'}}
             </button>
        </div>
        
      
        
        <div class="lista">
            <app-cronometro class="cronometro container"></app-cronometro>
            <app-lista-participantes [listaParcipantes]="listaParcipantes"></app-lista-participantes>
        </div>
        
    </div>
</div>

