<div class="container">

    <div class="container-pariticipantes">
        <div>
            <app-participante-locutor>
                
            </app-participante-locutor>
            <button class="botao" (click)="iniciarCronometro()">
                Finalizar report
            </button>
        </div>
        
      
        
        <div class="lista">
            <app-cronometro class="cronometro"></app-cronometro>
            <app-lista-participantes [listaParcipantes]="listaParcipantes"></app-lista-participantes>
        </div>
        
    </div>
</div>

