<div class="container d-flex justify-content-center">
    <div>
        Registrar Usuário
    </div>
    <div *ngIf="loginToggle == 'singin'">
        <form [formGroup]="usuarioGroup" (ngSubmit)="submit()">
            <div class="form-group input-group mb-3">
                <label class="input-group-text" for="nome">Nome</label>
                <input type="text" formControlName="nome" class="form-control">
            </div>
            <div class="form-group input-group mb-3">
                <label class="input-group-text" for="email">Email</label>
                <input type="text" formControlName="email" class="form-control">
            </div>
            <div class="form-group input-group mb-3">
                <label class="input-group-text" for="senha">Senha</label>
                <input type="password" formControlName="senha" class="form-control">
            </div>
            <div class="form-group input-group mb-3">
                <label class="input-group-text" for="icone">Icone de perfil</label>
                <br>
                <input type="file" class="form-control-file" id="icone" formControlName="icone" (change)="handleFileInput($event)">
            </div>  
            <button class="btn bg-primary" type="submit">
                Cadastrar
            </button>
        </form>
        <a class="card-link" (click)="direcionarLogin()">Já possuo conta.</a>
    </div>
    
    <div *ngIf="loginToggle == 'login'">
        <form [formGroup]="usuarioGroup" (ngSubmit)="submitLogin()">
            <div class="form-group input-group mb-3">
                <label class="input-group-text" for="email">Email</label>
                <input type="text" formControlName="email" class="form-control">
            </div>
            <div class="form-group input-group mb-3">
                <label class="input-group-text" for="senha">Senha</label>
                <input type="password" formControlName="senha" class="form-control">
            </div>
            <button class="btn bg-primary" type="submit">
                Entrar
            </button>
        </form>
        <a class="card-link" (click)="direcionarSingIn()">Não possui conta? Cadastre-se aqui.</a>
    </div>
    
</div>
