$primary-color: #EDE7E3;
$azul: #489FB5;
$azul-secundario: #16697A;
$azul-claro: #82C0CC;

.container{
    border-radius: 7px;
    background-color: $azul;
}
.display-cronometro{
    font-size: 40px;
    color: $primary-color;
    gap: 4px;
}


.container-cronometro-locutor{
    background-color: $azul-secundario;
    padding: 5px;
    
}

@keyframes red {
    to { color: red; }
}